.grid {
    display: grid;
    grid-template-columns: repeat(5, fr);
    gap: 1em;

}

.grid div{
    background: rgb(218, 168, 168); 
    padding: 1em;
}


.grid div:hover{
    border: 1px solid rosybrown;
}

 